/* Font */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Common Styles */
  .section-title{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 25px;
  }
  .section-text{
    font-size: 16px;
    margin-bottom: 48px;
  }
  .learn-link{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
  }
/* header styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 150px;
}
nav button{
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px
}
nav button:hover{
    background-color: rgb(236, 240, 238);

}
.banner-container{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 26px 221px 45px;
}
.banner-title{
    font-size: 48px;
    font-weight: bolder;
}
.contact-btn{
    color: white;
    background-color: black;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    font-size: 20px;
}

/* Web Development info section  */
.web-info-container{
    text-align: center;
    padding: 74px 150px 90px;
}

.web-info{
    padding: 80px 97px;
}
.web-parts{
    text-align: start;
    margin-top: 70px;
    
}
.web-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    
}
.web-description{
    padding-right: 100px;
}
.web-description-odd{
    padding-left: 100px;
}

.web-description button, .web-description-odd button{
    font-size: 20px;
    color: #0D1321;
    opacity: 70%;
    font-weight: 600;
    padding: 12px 20px;
}
.web-des-title{
    color: #0D1321;
    opacity: 70%;
    font-size: 24px;
    margin-bottom: 16px;
}
.web-des-text{
    color: #0D1321;
    opacity: 70%;
    font-size: 16px;
    margin-bottom: 32px;
}

/* Inspiration section styles */

.inspiration-container{
    text-align: center;
    margin: 0px 150px 150px;
}

/* Target section styles */
.target-container{
    text-align: center;
    margin: 150px 150px 50px;
    margin-bottom: 50px;
}
.current-target{
    margin-bottom: 111px;
}
.tech-container{
    display: flex;
    text-align: start;
}
.html-container{
    background-color: rgba(255, 76, 30, 0.07);
    padding: 40px;
    margin-right: 24px;
}
.css-container{
    background-color: rgba(0, 76, 232, 0.07);
    padding: 40px;
    margin-right: 24px;
}
.js-container{
    background-color: rgba(255, 223, 0, 0.07);
    padding: 40px;
}
.mern-container{
    text-align: start;
}
.react-container{
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    margin-bottom: 24px;
}
.react-container img{
    margin-right: 24px;
    width: 80px;
    height: 92px;
}
.node-container{
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    margin-bottom: 24px;
}
.node-container img{
    margin-right: 24px;
    width: 143.51px;
    height: 88px;
}
.mongodb-container{
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
}
.mongodb-container img{
    margin-right: 24px;
    width: 108px;
    height: 108px;
}

/* Feedback section styles */
.feedback-container{
    text-align: center;
    margin: 0 auto;
    padding: 64px 48px;
    color: white;
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url(/assets/handshake.jpg);
    border: none;
    border-radius: 16px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    width: 1140px;
    height: 313px;

}
/* .feedback-container background-image{
    width: 1140px;
    height: 313px;
} */
.feedback-input{
    display: flex;
    justify-content: center;
}
.feedback-input input{
    font-size: 16px;
    color: rgba(13, 19, 33, 4);
    text-align: center;
    width: 548px;
    height: 57px;
    border: none;
    border-radius: 8px;
    margin-right: 16px;
}
.feedback-input button{
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 57px;
}

/* Footer Styles */
footer{
    display: flex;
    justify-content: space-between;
    padding: 38px 150px;
    background-color: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}